//Sizes
$button-size: 40px;
$button-border-radius: 3px;
$button-pressed-border-radius: 10px;
$tab-button-widht: 50px;
$caps-lock-button-widht: 100px;
$shift-button-widht: 100px;
$space-button-widht: 300px;
$backspace-button-widht: 100px;
$enter-button-widht: 86px;
$container-max-widht: 700px;
$text-editor-height: 200px;

//Margins
$keyboard-rows-margin: 8px;
$keyboard-buttons-margin: 6px;

//Paddings
$element-padding: 7px;

//Colors
$button-color: #ffffff;
$button-backgrount-color: #444444;
$button-hover-background-color: #b54c90;
$button-pressed-background-color: #e79acb;
$control-button-color: #222222;

//Font
$font-weight: 400;
$font-bolt-weight: 500;
